[core]
	;editor = vim
	excludesFile = ~/.gitignore
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[am]
	threeWay = false
[difftool]
	prompt = false
[color]
	ui = auto
[commit]
	verbose = true
[include]
	path = .gitconfig_local
[user]
	name = Cian Ferriter
[push]
	default = simple
[credential]
	helper = store
[sendemail]
	confirm = always
