[core]
	excludesFile = ~/.gitignore
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = auto
[commit]
	verbose = true
[include]
	path = .gitconfig_local
[user]
	name = Cian Ferriter
[push]
	default = simple
[credential]
	helper = store
[sendemail]
	confirm = always
[pull]
	ff = only
[checkout]
	defaultRemote = origin
[pw]
	server = https://patchwork.ozlabs.org/api/1.2
	project = openvswitch
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	cb = checkout -b
	cm = checkout master
	fa = fetch --all
	; '@{u}' is a shortcut for the upstream branch (origin/<current_branch>).
	overwrite-local = reset --hard '@{u}'
	ol = overwrite-local
	dr = diff -R '@{u}'
	rdr = range-diff ...'@{u}'
	cr = commit --reuse-message=ORIG_HEAD
	ca = commit --amend
	can = commit --amend --no-edit
	cas = commit --amend --no-edit -s
	rc = rebase --continue
	rcn = ! GIT_EDITOR=true git rebase --continue
	pf = push --force-with-lease
	pc = ! git push --set-upstream origin $(git symbolic-ref --short HEAD)
	bu = ! git branch --set-upstream-to origin/$(git symbolic-ref --short HEAD)
	fixline = log -1 --abbrev=12 --format='Fixes: %h (\"%s\")%nCc: %ae'
