# My files.
tags
tags.lock
.gdb_history

# Vim swap files.
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# C++ files.
## Prerequisites.
*.d
## Compiled Object files.
*.Plo
*.slo
*.lo
*.o
*.obj
## Precompiled Headers.
*.gch
*.pch
## Compiled Dynamic libraries.
*.so
*.dylib
*.dll
## Fortran module files.
*.mod
*.smod
## Compiled Static libraries.
*.lai
*.la
*.a
*.lib
## Executables.
*.exe
*.out
*.app
